.AddPostButton {
  font-family: 'Delius', cursive;
  font-size: 1.4rem;
  background-color: #fffffd;
  color: #565458;
  border-color: #EEB4FF;
}

.AddPostIcon {
  vertical-align: middle;
}

.btn-outline-primary {
  font-family: 'Delius', cursive;
  font-size: 1.4rem;
  font-weight: bold;
  color: #565458;
  border-color: #3b4143;
  background-color: #fffffd;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.selected {
  font-family: 'Delius', cursive !important;
  font-size: 1.4rem !important;
  font-weight: bold !important;
  color: #fffffd !important;
  border-color: #EEB4FF !important;
  background-color: #EEB4FF !important;
}

.btn-outline-secondary,
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.selected {
  font-family: 'Delius', cursive !important;
  font-size: 1.0rem !important;
  font-weight: bold !important;
}

.btn-outline-success,
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success.selected {
  font-family: 'Delius', cursive !important;
  font-size: 1.0rem !important;
  font-weight: bold !important;
}

.Modal-title {
  font-family: 'Delius', cursive;
  font-weight: bold !important;
}

.Image-preview {
  padding-bottom: 1rem;
}
