.Post-comment {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4rem;
  text-align: left;
  padding: 0.7rem;
  font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #80765B;
  text-decoration: underline;
}
