.Post-comment {
  font-family: 'Delius', cursive;
  font-size: 1rem;
  text-align: left;
  padding: 0.7rem;
  font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #3b4143;
  text-decoration: underline;
}
