.Post {
  border: 1px solid !important;
  border-color: #3b4143 !important;
  color: #3b4143;
  margin-bottom: 3rem;
  letter-spacing: 1px;
}

.Post-header {
  font-family: 'Delius', cursive;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  padding: 0.7rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
