.Post {
  border: 1px solid !important;
  border-color: #80765B !important;
  border-radius: 16px;
  color: #80765B;
  margin-bottom: 3rem;
}

.Post-header {
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  padding: 0.7rem;
  font-size: 1.4rem;
}
