.App {
  text-align: center;
  background-color: #fffffd;
  padding-bottom: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Gallery-header {
  height: 600px;
  background-image: url("header-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.Gallery-header-text {
  font-size: 3.5rem;
  font-family: 'Delius', cursive;
  letter-spacing: 1px;
  color: #565458;
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
}

.Gallery-header-image {
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}
